Src/Business/Azteca.Contabilidad/Service References/DigitalFactura.Cancelar/timbre_cancela.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="../librerias/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="../librerias/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="../librerias/soap/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CancelarCFDIRequest">
    <wsdl:part name="uuid_cancelar" type="xsd:string" />
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CancelarCFDIResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="fnIniciaSesionRequest">
    <wsdl:part name="rfc" type="xsd:string" />
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="fnIniciaSesionResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ObtenAcuseCancelacionRequest">
    <wsdl:part name="uuid_acuse" type="xsd:string" />
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ObtenAcuseCancelacionResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="FuncionesGeneralesFacPortType">
    <wsdl:operation name="CancelarCFDI">
      <documentation>Cancelar CFDi</documentation>
      <wsdl:input message="tns:CancelarCFDIRequest" />
      <wsdl:output message="tns:CancelarCFDIResponse" />
    </wsdl:operation>
    <wsdl:operation name="fnIniciaSesion">
      <documentation>Inicio de sesion para timbrado</documentation>
      <wsdl:input message="tns:fnIniciaSesionRequest" />
      <wsdl:output message="tns:fnIniciaSesionResponse" />
    </wsdl:operation>
    <wsdl:operation name="ObtenAcuseCancelacion">
      <documentation>Obtiene acuse de cancelación</documentation>
      <wsdl:input message="tns:ObtenAcuseCancelacionRequest" />
      <wsdl:output message="tns:ObtenAcuseCancelacionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FuncionesGeneralesFacBinding" type="tns:FuncionesGeneralesFacPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="CancelarCFDI">
      <soap:operation soapAction="http://201.120.57.165/facturacion/wsdl/timbre_cancela.php/CancelarCFDI" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnIniciaSesion">
      <soap:operation soapAction="http://201.120.57.165/facturacion/wsdl/timbre_cancela.php/fnIniciaSesion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenAcuseCancelacion">
      <soap:operation soapAction="http://201.120.57.165/facturacion/wsdl/timbre_cancela.php/ObtenAcuseCancelacion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="../librerias/soap/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuncionesGeneralesFac">
    <wsdl:port name="FuncionesGeneralesFacPort" binding="tns:FuncionesGeneralesFacBinding">
      <soap:address location="http://201.120.57.165:81/facturacion/wsdl/timbre_cancela.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>