Src/Business/Azteca.Contabilidad/Service References/AztecaSoftwareCFDI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.aztecasoftware.mx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.aztecasoftware.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.aztecasoftware.mx/">
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Timbrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cfdi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbrarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folios" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="certificado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="llavePrivada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordPK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="TimbrarSoapIn">
    <wsdl:part name="parameters" element="tns:Timbrar" />
  </wsdl:message>
  <wsdl:message name="TimbrarSoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarSoapIn">
    <wsdl:part name="parameters" element="tns:Cancelar" />
  </wsdl:message>
  <wsdl:message name="CancelarSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <wsdl:input message="tns:TimbrarSoapIn" />
      <wsdl:output message="tns:TimbrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <wsdl:input message="tns:CancelarSoapIn" />
      <wsdl:output message="tns:CancelarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://www.aztecasoftware.mx/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <soap:operation soapAction="http://www.aztecasoftware.mx/Timbrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <soap:operation soapAction="http://www.aztecasoftware.mx/Cancelar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://www.aztecasoftware.mx/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <soap12:operation soapAction="http://www.aztecasoftware.mx/Timbrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <soap12:operation soapAction="http://www.aztecasoftware.mx/Cancelar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://cfdi.azurewebsites.net/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://cfdi.azurewebsites.net/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>