Src/Business/Azteca.Contabilidad/Service References/FacturadorElectronico/timbrado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://facturadorelectronico.com/timbrado/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://facturadorelectronico.com/timbrado/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://facturadorelectronico.com/timbrado/">
      <s:element name="obtenerTimbrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CFDIcliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerTimbradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerTimbradoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelarComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlCancelacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelarComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelarComprobanteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerTimbradoSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerTimbrado" />
  </wsdl:message>
  <wsdl:message name="obtenerTimbradoSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerTimbradoResponse" />
  </wsdl:message>
  <wsdl:message name="cancelarComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:cancelarComprobante" />
  </wsdl:message>
  <wsdl:message name="cancelarComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:cancelarComprobanteResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTimbradoSoap">
    <wsdl:operation name="obtenerTimbrado">
      <wsdl:input message="tns:obtenerTimbradoSoapIn" />
      <wsdl:output message="tns:obtenerTimbradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelarComprobante">
      <wsdl:input message="tns:cancelarComprobanteSoapIn" />
      <wsdl:output message="tns:cancelarComprobanteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTimbradoSoap" type="tns:wsTimbradoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerTimbrado">
      <soap:operation soapAction="http://facturadorelectronico.com/timbrado/obtenerTimbrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarComprobante">
      <soap:operation soapAction="http://facturadorelectronico.com/timbrado/cancelarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTimbradoSoap12" type="tns:wsTimbradoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerTimbrado">
      <soap12:operation soapAction="http://facturadorelectronico.com/timbrado/obtenerTimbrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarComprobante">
      <soap12:operation soapAction="http://facturadorelectronico.com/timbrado/cancelarComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTimbrado">
    <wsdl:port name="wsTimbradoSoap" binding="tns:wsTimbradoSoap">
      <soap:address location="https://app.facturadorelectronico.com/pruebastimbradofe/timbrado.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTimbradoSoap12" binding="tns:wsTimbradoSoap12">
      <soap12:address location="https://app.facturadorelectronico.com/pruebastimbradofe/timbrado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>