Src/Business/Azteca.Contabilidad/Service References/Certus.Timbrado/WsEmisionTimbradoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://cfdi.ws2.facturehoy.certus.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WsEmisionTimbradoService" targetNamespace="http://cfdi.ws2.facturehoy.certus.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://wsprod1.facturehoy.com:80/CFDI/WsEmisionTimbrado?xsd=1" namespace="http://cfdi.ws2.facturehoy.certus.com/" />
    </xsd:schema>
  </types>
  <message name="EmitirTimbrar">
    <part name="parameters" element="tns:EmitirTimbrar" />
  </message>
  <message name="EmitirTimbrarResponse">
    <part name="parameters" element="tns:EmitirTimbrarResponse" />
  </message>
  <message name="EmitirTimbrarTest">
    <part name="parameters" element="tns:EmitirTimbrarTest" />
  </message>
  <message name="EmitirTimbrarTestResponse">
    <part name="parameters" element="tns:EmitirTimbrarTestResponse" />
  </message>
  <message name="Cancelar">
    <part name="parameters" element="tns:Cancelar" />
  </message>
  <message name="CancelarResponse">
    <part name="parameters" element="tns:CancelarResponse" />
  </message>
  <message name="RecuperarAcuse">
    <part name="parameters" element="tns:RecuperarAcuse" />
  </message>
  <message name="RecuperarAcuseResponse">
    <part name="parameters" element="tns:RecuperarAcuseResponse" />
  </message>
  <message name="RecuperarAcuseCancelacion">
    <part name="parameters" element="tns:RecuperarAcuseCancelacion" />
  </message>
  <message name="RecuperarAcuseCancelacionResponse">
    <part name="parameters" element="tns:RecuperarAcuseCancelacionResponse" />
  </message>
  <portType name="WsEmisionTimbrado">
    <operation name="EmitirTimbrar">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/EmitirTimbrarRequest" message="tns:EmitirTimbrar" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/EmitirTimbrarResponse" message="tns:EmitirTimbrarResponse" />
    </operation>
    <operation name="EmitirTimbrarTest">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/EmitirTimbrarTestRequest" message="tns:EmitirTimbrarTest" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/EmitirTimbrarTestResponse" message="tns:EmitirTimbrarTestResponse" />
    </operation>
    <operation name="Cancelar">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/CancelarRequest" message="tns:Cancelar" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/CancelarResponse" message="tns:CancelarResponse" />
    </operation>
    <operation name="RecuperarAcuse">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/RecuperarAcuseRequest" message="tns:RecuperarAcuse" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/RecuperarAcuseResponse" message="tns:RecuperarAcuseResponse" />
    </operation>
    <operation name="RecuperarAcuseCancelacion">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/RecuperarAcuseCancelacionRequest" message="tns:RecuperarAcuseCancelacion" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsEmisionTimbrado/RecuperarAcuseCancelacionResponse" message="tns:RecuperarAcuseCancelacionResponse" />
    </operation>
  </portType>
  <binding name="WsEmisionTimbradoPortBinding" type="tns:WsEmisionTimbrado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="EmitirTimbrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EmitirTimbrarTest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Cancelar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RecuperarAcuse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RecuperarAcuseCancelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WsEmisionTimbradoService">
    <port name="WsEmisionTimbradoPort" binding="tns:WsEmisionTimbradoPortBinding">
      <soap:address location="http://wsprod1.facturehoy.com:80/CFDI/WsEmisionTimbrado" />
    </port>
  </service>
</definitions>